*, :after, :before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
h1{
    font-size: 45px;
    font-weight: 700;
    color: #353239;
}
p{
    font-size: 30px;
    font-weight: 100;
    color: #353239;
}
#header{
    background-color: #e9d5a1;
    height: 100vh;
    width: 100%;
    
}
.header-container{
    height: 150px;
 /*   border: 2px solid red; */
}
.top-container{
    text-align:center;
    height:400px;
    width:100%;
}
.top-child{
    top: 50%;
    left: 50%;
  
}
.center {
    margin: auto;
  }
.p-jahid{

    width: 14%;

}
.flex-container{
    display: flex;
}
.half-width{
    width: 50%;
}
